*
{
	margin: 8px 4px;
	font-family: monospace;
	color: white;
	font-size: 16px;
}

html
{
	margin: 0;
}

body
{
	background-color: black;
	padding: 0;
	margin: 0;
}

main
{
	margin: 0;
	padding: 0;
	display: flex;
	width: 90vw;
	height: 90vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

footer
{
	margin: 0;
	padding: 0;
	display: flex;
	width: 100vw;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#status-text
{
	color: #e95151;
	text-align: left;
	cursor: pointer;
}

#file-browser
{
	display: none;
}

#input
{
	border: none;
	outline: none;
	overflow: hidden;
	background-color: black;
	color: white;
}

#input-container::before
{
	content: "(count, list, sample, rate, value) => ";
}

#perf
{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

p
{
	text-align: center;
}

#perf button
{
	color: #e95151;
	background-color: #00000000;
	cursor: pointer;
	outline: none;
	border:none;
	padding: 4px 8px;
	transition-duration: 0.2s;
}

#perf button.active
{
	color: #8cc63f;
}

#run
{
	color: #e95151;
	background-color: #00000000;
	cursor: pointer;
	outline: none;
	border:none;
	padding: 4px 240px;
}